body {
  background-color: #526683; /* Light gray background */
  font-family: 'Arial', sans-serif;
}

.dashboard-container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #a82020;
}

.account-details {
  background: #007bff; /* Blue Background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.transaction-list {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.transaction-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.transaction-amount {
  font-weight: bold;
  color: green;
}
